/* Start variables */
:root {
  --main-color: #fbfefd;
  --title-color: #393939;
  --text-color: #707070;
  --box-color: #ffffff;

  --constant-color: #069c54;
  --constant-pro-color: #048654;

  --line-height: 1.6;
}
.dark {
  --main-color: #1d2521;
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --box-color: #27302c;
}
/* End variables  */

/* Start global rules*/
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* End global rules */
/* Start classes */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
.pad {
  padding-top: 50px;
  padding-bottom: 10px;
}
.but {
  color: #fff;
  background-color: var(--constant-color);
  padding: 14px;
  font-size: 17px;
  border-radius: 8px;
  text-transform: capitalize;
}
.but:hover {
  background-color: var(--constant-pro-color);
}
.links {
  color: var(--text-color);
}
.links:hover {
  color: var(--constant-pro-color);
}
.special-title {
  text-align: center;
  padding: 15px 0 10px;
}
.special-title h4 {
  font-size: 16px;
  color: var(--constant-color);
  margin-bottom: 16px;
  font-weight: 500;
}
.special-title h2 {
  font-size: 26px;
  color: var(--title-color);
  font-weight: 600;
}
/* @media (max-width: 768px) {
  .special-title {
    font-size: 13px;
  }
} */
/* End classes */

/* Start Header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  z-index: 100;
}
.header.shadow {
  box-shadow: 0px 2px 1px rgb(0 0 0 / 15%);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo a {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 16px 0;
}
.header .nav-toggle {
  font-size: 25px;
  color: var(--title-color);
}
.header .nav-links {
  position: fixed;
  top: -50%;
  background-color: var(--main-color);
  width: 100%;
  left: 0;
  transition: top 0.3s ease;
}
.header .nav-links .nav-link {
  text-align: center;
}
.header .nav-links .nav-link a {
  display: inline-block;
  text-transform: capitalize;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.header .nav-links .nav-link a.active {
  color: var(--constant-color);
}
.header .nav-links .mood {
  font-size: 18px;
}
@media (max-width: 767px) {
  .header .nav-links {
    padding: 20px 0 18px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 3px 1px rgb(0 0 0 / 20%);
  }
  .header .nav-links.open {
    top: 50px;
  }
  .header .nav-links .mood {
    position: absolute;
    top: 20px;
    right: 10%;
  }
}
@media (min-width: 768px) {
  .header .nav-toggle {
    display: none;
  }
  .header .nav-links {
    position: relative;
    display: flex;
    padding: 14px;
  }
  .header .nav-links ul {
    display: flex;
  }
  .header .nav-links .nav-link:not(:last-child) a {
    margin-right: 20px;
  }
}
/* End Header */

/* Start Home */
.home {
  padding-top: 60px;
  display: flex;
  height: calc(100vh - 35px);
  align-items: center;
}
.home .container {
  max-width: 100%;
}
.home .home-content {
  display: grid;
  gap: 20px;
}
.home .home-text {
  padding-top: 30px;
  padding-bottom: 25px;
}
.home .home-head {
  color: var(--constant-color);
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 800;
}
.home .home-par {
  color: var(--title-color);
  font-size: 28px;
  line-height: var(--line-height);
  margin-bottom: 10px;
  font-weight: 700;
}
.home .home-img {
  width: 280px;
  max-width: 90%;
  margin: 0 auto;
}
@media (max-width: 300px) {
  .home .home-head {
    font-size: 30px;
  }
  .home .home-par {
    font-size: 20px;
  }
  .home .home-img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .home .home-content {
    grid-template-columns: 40% 50%;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
  }
  .home .home-text {
    padding-top: 0;
  }
  .home .home-img {
    width: 80%;
  }
}
/* End Home */
/* Start About */
.about {
  display: flex;
  align-items: center;
}
.about .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
}
.about .about-img {
  flex-basis: 40%;
  border-radius: 30px;
  overflow: hidden;
}
.about .about-text {
  margin-top: 35px;
  flex-basis: 40%;
  align-self: flex-start;
  padding: 30px 15px;
}
.about .about-text .about-head {
  color: var(--constant-color);
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.about .about-text .about-title {
  width: 90%;
  color: var(--title-color);
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 800;
  line-height: var(--line-height);
}
.about .about-text .about-par {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 25px;
  line-height: var(--line-height);
}
@media (max-width: 992px) {
  .about .about-text {
    flex-basis: 45%;
  }
  .about .about-img {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .about .about-text {
    flex-basis: 100%;
  }
  .about .about-img {
    flex-basis: 90%;
  }
  .about .about-text {
    width: 100%;
    font-size: 14px;
  }
}
/* End About */
/* Start Services */
.services .container {
  padding-top: 35px;
  display: grid;
  gap: 25px;
}
.services .services-box {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .serv-img {
  width: 80px;
}
.services .serv-head {
  margin: 15px 0;
  color: var(--title-color);
  font-size: 18px;
}
.services .serv-par {
  color: var(--text-color);
  font-size: 14px;
  line-height: var(--line-height);
}
@media (min-width: 768px) {
  .services .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/* End  Services */
/* Start Menu */
.menu .container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-content: center;
  gap: 15px;
}
.menu .menu-item {
  padding: 25px 10px;
  background-color: var(--box-color);
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .menu .menu-item:nth-child(1):hover {
    transform: rotate(-3deg) scale(1.03);
  }
  .menu .menu-item:nth-child(2):hover {
    transform: translateY(-10px) scale(1.03);
  }
  .menu .menu-item:nth-child(3):hover {
    transform: rotate(3deg) scale(1.03);
  }
}
.menu .menu-item img {
  display: block;
  width: 150px;
  padding: 10px;
  margin: auto;
}
.menu .menu-head {
  color: var(--title-color);
  font-size: 16px;
  margin: 30px 0 15px;
  font-weight: 400;
}
.menu .menu-item p {
  color: var(--text-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.menu .menu-item .value {
  font-size: 16px;
  font-weight: 600;
  color: var(--title-color);
}
.menu .menu-item .but {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 768px) {
  .menu .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    justify-content: center;
    gap: 40px;
  }
  .menu .menu-item {
    padding: 25px;
  }
}
/* End Menu */
/* Start App */
.app .container {
  display: grid;
}
.app .app-img {
  margin-top: 18px;
}
.app .container .special-title p {
  color: var(--text-color);
  font-size: 14px;
  line-height: var(--line-height);
  margin-top: 18px;
}
.app .app-img a {
  display: inline-block;
  margin: 14px 6px;
  width: 130px;
}
.app .app-mobile {
  width: 80%;
  margin: 18px auto;
}
@media (min-width: 768px) {
  .app .container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 25px;
  }
  .app .app-mobile {
    order: 1;
  }
  .app .special-title {
    order: 2;
    text-align: left;
  }
}
/* End App */
/* Start */
/* End */
footer {
  height: 2000px;
  background-color: var(--main-color);
}
/* Start Scroll top */
.scroll-top {
  display: inline-block;
  padding: 0.3em 0.4em 0.2em;
  background-color: var(--constant-color);
  position: fixed;
  bottom: 0;
  right: 1em;
  font-size: 1.3em;
  color: var(--main-color);
  border-radius: 0.3em;
  opacity: 0.7;
  transition: 0.3s;
  visibility: hidden;
}
.scroll-top.scrolltop-show {
  visibility: visible;
  bottom: 1.5em;
}
.scroll-top:hover {
  opacity: 1;
}
/* End Scroll top */
/* breaking point for all section */
@media (max-width: 280px) {
  section {
    font-size: 10px !important;
  }
}
