/* Start variables */
:root {
  --main-color: #fbfefd;
  --title-color: #393939;
  --text-color: #707070;
  --box-color: #ffffff;

  --constant-color: #069c54;
  --constant-pro-color: #048654;

  --line-height: 1.6;
}
.dark {
  --main-color: #1d2521;
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --box-color: #27302c;
}
/* End variables  */

/* Start global rules*/
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
input,
button {
  background-color: transparent;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
/* End global rules */
/* Start classes */
.container {
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}
.pad {
  padding-top: 3.2em;
  /* padding-bottom: 1em; */
}
.but {
  color: #fff;
  background-color: var(--constant-color);
  padding: 0.75em;
  font-size: 1em;
  border-radius: 0.35em;
  text-transform: capitalize;
}
.but:hover {
  background-color: var(--constant-pro-color);
}
.links {
  color: var(--text-color);
}
.links:hover {
  color: var(--constant-pro-color);
}
.special-title {
  text-align: center;
  padding: 1.4em 0 1.6em;
}
.special-title h4{
  font-size: 1.2em;
  color: var(--constant-color);
  margin-bottom: 0.5em;
  font-weight: 500;
}
.special-title h2 {
  font-size: 2.4em;
  color: var(--title-color);
  font-weight: 600;
}
@media (max-width: 768px) {
  .special-title {
    font-size: 12px;
  }
}
/* End classes */

/* Start Header */
.header {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  z-index: 100;
}
.header.shadow {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo a {
  font-size: 0.8em;
  font-weight: 500;
  display: block;
  padding: 1em 0;
}
.header .nav-toggle {
  font-size: 1.7em;
  color: var(--title-color);
}
.header .nav-links {
  position: fixed;
  top: -50%;
  background-color: var(--main-color);
  width: 100%;
  left: 0;
  transition: top 0.3s ease;
}
.header .nav-links .nav-link {
  text-align: center;
}
.header .nav-links .nav-link a {
  display: inline-block;
  text-transform: capitalize;
  padding: 0.25em;
  margin: 0.55em;
  text-align: center;
  font-weight: 500;
  font-size: 1.05em;
}
.header .nav-links .mood {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .header .nav-links {
    padding: 1.5em 0 1.3em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
  }
  .header .nav-links.open {
    top: 50px;
  }
  .header .nav-links .mood {
    position: absolute;
    top: 1.5em;
    right: 10%;
  }
}
@media (min-width: 768px) {
  .header .nav-toggle {
    display: none;
  }
  .header .nav-links {
    position: relative;
    display: flex;
    padding: 0.8em;
  }
  .header .nav-links ul {
    display: flex;
  }
  .header .nav-links .nav-link:not(:last-child) a {
    margin-right: 1.5em;
  }
}
/* End Header */

/* Start Home */
.home {
  padding-top: 5em;
  display: flex;
  height: calc(100vh - 2em);
  align-items: center;
}
.home .home-content {
  display: grid;
  gap: 1em;
}
.home .home-text {
  padding-top: 2em;
  padding-bottom: 2em;
}
.home .home-head {
  color: var(--constant-color);
  font-size: 3em;
  margin-bottom: 0.45em;
  font-weight: 700;
}
.home .home-par {
  color: var(--title-color);
  font-size: 1.9em;
  line-height: var(--line-height);
  margin-bottom: 0.55em;
  font-weight: 600;
}
.home .home-img {
  width: 17em;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .home {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .home .home-content {
    grid-template-columns: 40% 50%;
    align-items: center;
    justify-content: center;
    transform: translateY(-2em);
  }
  .home .home-text {
    padding-top: 0;
  }
  .home .home-img {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .home .home-text {
    font-size: 19px;
  }
}
/* End Home */
/* Start About */
.about {
  display: flex;
  align-items: center;
}
.about .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3.5em;
}
.about .about-img {
  flex-basis: 40%;
  border-radius: 1.5em;
  overflow: hidden;
}
.about .about-text {
  margin-top: 2em;
  flex-basis: 40%;
  align-self: flex-start;
  padding: 2em 1em;
}
.about .about-text .about-head {
  color: var(--constant-color);
  font-size: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 500;
}
.about .about-text .about-title {
  width: 90%;
  color: var(--title-color);
  font-size: 1.9em;
  margin-bottom: 1em;
  font-weight: 800;
  line-height: var(--line-height);
}
.about .about-text .about-par {
  color: var(--text-color);
  font-size: 1.1em;
  margin-bottom: 1.6em;
  line-height: var(--line-height);
}
@media (max-width: 992px) {
  .about .about-text {
    flex-basis: 45%;
  }
  .about .about-img {
    flex-basis: 45%;
  }
}
@media (max-width: 768px) {
  .about .about-text {
    flex-basis: 100%;
  }
  .about .about-img {
    flex-basis: 90%;
  }
  .about .about-text {
    width: 100%;
    font-size: 14px;
  }
}
/* End About */
/* Start Services */
.services .container {
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1.5em;
}
.services .services-box {
  padding: 0.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .serv-img {
  width: 4.5em;
}
.services .serv-head {
  margin: 0.9em 0;
  color: var(--title-color);
  font-size: 1.2em;
}
.services .serv-par {
  color: var(--text-color);
  font-size: 1em;
  line-height: var(--line-height);
}
@media (max-width: 768px) {
  .services .serv-head {
    font-size: 1em;
  }
  .services .serv-par {
    font-size: 0.85em;
  }
}
/* End  Services */
/* Start Menu */
.menu .container{
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.8em, 14em));
  justify-content: center;
  gap: 4em;
}
.menu .menu-item {
  padding: 2em;
  background-color: var(--box-color);
  border-radius: 0.5em;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1),
  -2px 0px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .menu .menu-item:nth-child(1):hover {
    transform: rotate(-5deg) scale(1.05);
  }
  .menu .menu-item:nth-child(2):hover {
    transform: translateY(-0.5em) scale(1.05);
  }
  .menu .menu-item:nth-child(3):hover {
    transform: rotate(5deg) scale(1.05);
  }
}
.menu .menu-item img{
  display: block;
  width: 7.8em;
  margin: auto;
}
.menu  .menu-head{
  color: var(--title-color);
  font-size: 1em;
  margin: 1.2em 0 0.8em;
  font-weight: 400;
}
.menu .menu-item p{
  color: var(--text-color);
  font-size: 0.9em;
  margin-bottom: 0.6em;
}
.menu .menu-item .value {
  font-size: 1em;
  font-weight: 600;
  color: var(--title-color);
}
.menu .menu-item  .but {
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 560px) {
  .menu .container {
    grid-template-columns: repeat(auto-fit, minmax(10.3em, 1fr));
    gap: 0.5em;
    font-size: 15px;
  }
  .menu .menu-item {
    padding: 1em;
  }
}
/* End Menu */
/* Start */
/* End */
footer {
  height: 2000px;
  background-color: var(--main-color);
}
/* Start Scroll top */
.scroll-top {
  display: inline-block;
  padding: 0.3em 0.4em 0.2em;
  background-color: var(--constant-color);
  position: fixed;
  bottom: 0;
  right: 1em;
  font-size: 1.3em;
  color: var(--main-color);
  border-radius: 0.3em;
  opacity: 0.7;
  transition: 0.3s;
  visibility: hidden;
}
.scroll-top.scrolltop-show {
  visibility: visible;
  bottom: 1.5em;
}
.scroll-top:hover {
  opacity: 1;
}
/* End Scroll top */
/* breaking point for all section */
@media (max-width: 280px) {
  section {
    font-size: 10px !important;
  }
}
